/* null */
* {
    /* padding: 0px; */
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 380px;
}

body {
    color: #636060;
    line-height: 1;
    font-family: "Inter";
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Inter";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    /* text-decoration: none; */
}

a:hover {
    color: #00C4F0;
    transition: all 0.3s ease 0s;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.lock body {
    /*   overflow: hidden;
    touch-action: none; */
}

/* ====================================================== */
.wrapper {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
}

[class*=__container] {
    padding: 50px;
}

.img-link {
    width: 75px;
    height: 75px;
}

.js-output {
    text-align: center;
    font-size: 20px;
}

.js-output:not(:last-child) {
    margin-bottom: 20px;
}

.js-table {
    align-self: center;
    border: #000 solid 1px;
    padding: 10px;
}

.link-image {
    max-width: 30px;
}

.link-image:last-child {
    max-width: 30px;
}

ul.li-list-style {
    display: inline-block;

}

.li-list-style li {
    list-style: circle;
}

.table {
    text-align: center;
    display: inline;
    align-self: center;

}

.table td {
    border: #ffffff 1px solid;
}

.table th {
    border: #ffffff 1px solid;
}


.wrapper_task-5-12 {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    min-height: 100%;
    overflow: hidden;
    color: white;
    text-align: center;
}

.task-5-12 {
    display: inline;
}

.task-5-12 img {
    width: 10%;
    padding-bottom: 20px;
}

.task-7-8 {}

.task-7-8 h2 {
    color: #2A2A2A;
    text-align: center;
    font-size: 50px;
    transform: translate(0, 100%);
    font-weight: 900;
}

.task-7-8 img {
    width: 50%;
}

.lesson10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    justify-content: center;
    text-align: left;
    gap: 50px;
    position: relative;
    margin-bottom: 50px;
}

.lesson10 h2 {
    font-size: 20px;
    text-align: center;
}

.task11 {
    text-align: center;
}

.task14 {
    text-align: justify;
    /* padding-right: 50px; */

    display: flex;
    flex-direction: column;
}

.lesson10::after {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #00C4F0;
    top: 0;
    right: 50%;
    position: absolute;
}

.main-task .task14 p {
    padding: 0px 0;
}

.resolve {
    border: #ffffff 1px solid;
    border-radius: 20px;
    padding: 10px;
    align-self: center;
    text-align: center;

    max-width: 450px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.resolve input {
    margin-top: 5px;
    outline: #ffffff 2px solid;
    border-radius: 20px;
    padding-left: 5px;
}

.resolve input:hover {
    outline: #00C4F0 2px solid;
    transition: all 0.3s ease 0s;
}

.resolve input:focus {
    outline: #00C4F0 2px solid;
    transition: all 0.3s ease 0s;
}


.resolve .buttons {
    grid-column: span 2;
    padding-top: 15px;
}

.resolve .result {
    grid-column: span 2;
    text-align: center;
    padding: 15px;
    display: grid;
}

.result input {
    text-align: center;
}

.buttons button {
    border: #ffffff 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 10px;
}

.buttons button:hover {
    color: #00C4F0;
    border: #00C4F0 1px solid;
    transition: all 0.3s ease 0s;
}

.buttons button:focus {
    color: #00C4F0;
    border: #00C4F0 1px solid;
    outline: 0px;
    transition: all 0.3s ease 0s;
}

.task_18-2 input {
    border-radius: 0px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
}



.task_18-2 button {
    border-radius: 0px;
}

.task_18-2 select {
    margin: 10px 0;
    outline: #ffffff 2px solid;
    padding: 10px;
    width: 90%;
}

.task_18-2 option {
    outline: #ffffff 2px solid;
    color: #000;
    margin: 10px 0;
}

.task_18-2 select:focus {
    color: #00C4F0;
    outline: #00C4F0 1px solid;
    transition: all 0.3s ease 0s;
}

.task_18-2.result input:last-child {
    width: 100%;
    margin-bottom: 0;
}

/* ====================================== */

.header {}

.menu {
    display: flex;
    flex-wrap: wrap;
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    gap: 35px;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    font-size: 22px;
}

.menu__link {}


/* ====================================== */


.main {}

.main-task {
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-task h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.main-task p {
    padding: 10px 0;
}


.links-hometask {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.links-hometask__container {}

.links-hometask__title {
    text-align: center;
    padding: 25px 0;
    font-size: 40px;

}

.hometask-link {
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    padding: 25px;
    padding-bottom: 40px;
    width: 270px;
    /* min-height: 252px; */
    transition: all 0.3s ease 0s;
}

.hometask-link:hover {
    box-shadow: 0px 4px 6px #00C4F0;
}


.hometask-link__image {

    text-align: center;
    padding: 15px;

}

.hometask-link__title {
    text-align: center;
    font-size: 25px;
    padding: 10px 0;

}

.hometask-link__text {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footer {}

/* ================19-1=================== */

.resolve.task19-1 {
    max-width: 100%;
    display: flex;
}

.cards {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 5px;
    transition: all 0.3s ease 0s;

}

.card__image {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card__image img {
    width: 90%;
    object-fit: cover;
}

.card__description {}

.card__title {}

.card__price {}

.card__id {}

.checked {
    outline: #00C4F0 2px solid;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 20px;
}

/* ================19-2=================== */
.resolve.task19-2 {
    max-width: 100%;
    gap: 50px;
}

.table__athletes {
    display: flex;
    /* justify-content: space-between; */

}

.athletes__all {
    position: relative;
}

.athletes__all::after {
    content: '';
    position: absolute;
    top: 0;
    right: -25px;
    background-color: #00C4F0;
    width: 3px;
    height: 100%;
}

.athlet_left,
.athlet_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.athlet__name {}

.athlet__arrow {}

.athlet__arrow_right img {
    width: 40%;
}

.athlet__arrow_left img {
    width: 40%;
}

.athletes__selected {}

/* ================19-3=================== */

.snow__image {
    position: fixed;
    transform: rotate(0deg);
    top: 0;
    left: 0;
    width: 3%;
}

/* ================19-4=================== */

.star__image {
    position: fixed;
    transform: scale(0.1);
    /* transform: scale3d(2); */
    top: 0;
    left: 0;
    width: 3%;
}

/* ================19-4=================== */


.tank__image {
    position: fixed;
    transform: scale(1);
    top: 0;
    left: 0;
    width: 15%;
}

.tank-with-trator__image {
    position: fixed;
    transform: scale(1);
    top: 0;
    left: 0;
    width: 30%;

}

/* test  */